
				<div class="new_vote_form col-md-10 p-4">
					<form>
						<div class="form-group">
					    	<label for="vote_name">Election Title</label>
					    	<input type="text" class="form-control" id="vote_name" name="vote_name" placeholder="Enter Election Title">
					  	</div>
					  	<div class="form-group">
					    	<label for="candidate_id">Candidate ID</label>
					    	<input type="text" class="form-control" id="candidate_id" name="candidate_id" placeholder="Enter Candidate ID">
					  	</div>
					  	<div class="custom-file mb-3">
						  	<input type="file" class="custom-file-input" id="candidate_sign">
						  	<label class="custom-file-label" for="candidate_sign">Choose Candidate Sign Image</label>
						</div>
					  	<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>