{% extends '' %}
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card text-center">
						<div class="image">
							<img src="img/th.jpg">
						</div>
						<div class="name">Khadiza begom arman</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-4">
							<div class="info">
								<div class="item"><strong>User Name</strong><br>Fahim Hasan</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="info">
								<div class="item"><strong>Profile Name</strong><br>Sadiya afrin</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="info">
								<div class="item"><strong>Email</strong><br>sadiyafahim@arman.com</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>